.weatherContainer {
    background: rgba(237, 233, 233, 0.539);
    width: 150px; // ou toute autre largeur souhaitée
    border-radius: 10px;
    position: fixed;
    top: 20px; // Ajustez la distance depuis le haut de la page
    right: 20px; // Ajustez la distance depuis le bord droit de la page
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Ajoute une ombre douce
    font-family: Arial, sans-serif; // Choisissez votre police de caractères
    z-index: 1000; // Assurez-vous que le conteneur est au-dessus des autres éléments

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
        font-family: $font2;
    }

    .temperatureIcon {
        display: flex;
        align-items: center;

        h3 {
            font-size: 18px;
            margin-right: 5px;
        }

        p {
            font-size: 20px; // Ajustez la taille de l'icône en fonction de vos besoins
            margin: 0;
        }
    }
    
    em {
        font-style: italic;
        font-family: $font2;
    }
}
