// Krona One 

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
$font1: "Krona One", sans-serif;


body {
  background-color: rgb(241, 238, 244);
  font-family: $font1;
  display: flex;
  justify-content: center;
}

.weatherContainer {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    font-size: 54px;
  }

    .weatherContent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .getWeatherIcon {
      font-size: 8em;
      display: flex;
      justify-content: center;

    }
  }
