// Krona One 

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
$font1: "Krona One", sans-serif;


body {
    background-color: rgb(241, 238, 244);
    font-family: $font1;
    display: flex;
    justify-content: center;
}

// centrer le weatherContainer
.weatherContainer {
    width: 100%;
    /* Ajustez la largeur en pourcentage pour qu'elle soit plus flexible */
    max-width: 300px;
    /* Définissez une largeur maximale pour éviter qu'elle ne devienne trop large sur les grands écrans */
    border-radius: 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    padding: 2em;
    /* Utilisez des unités relatives comme em pour rendre le padding adaptable */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.getWeatherIcon {
    font-size: 10em;
    /* Augmenter la taille de l'icône */
    display: flex;
    justify-content: center;
}

.sunAnimation {
    border: 1px solid #ccc;
    /* Bordure autour de sunAnimation */
    padding: 10px;
    /* Espace intérieur */
    margin-top: auto;
    /* Place sunAnimation en bas */
}