.progress-container {
  width: 100%; /* Ajustez la largeur en pourcentage pour qu'elle soit plus flexible */
  max-width: 300px; /* Définissez une largeur maximale pour éviter qu'elle ne devienne trop large sur les grands écrans */
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em; /* Utilisez des unités relatives comme em pour rendre le padding adaptable */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  width: 100%;
  height: 10px; /* Hauteur de la barre de progression */
  border-radius: 10px; /* Pour arrondir les coins */
  overflow: hidden; /* Pour cacher le dépassement */
}

.progress {
  height: 100%; /* Pour remplir la hauteur de la barre de progression */
}

.blue {
  background-color: rgb(107, 107, 160);
}

.orange {
  background-color: rgb(198, 145, 47);
}

